.sidebar{
    position: fixed;
    top:55px;
    left:0;
    bottom: 0;
    width:90px;
    background-color: rgb(15,15,15);
    padding-top: 5px;
    z-index: 200;
}

.sidebar-link{
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.sidebar-link:hover{
    background-color: rgb(43, 43, 43);
    cursor: pointer;
    border-radius: 10px;
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-link div{
    font-family: Roboto, sans-serif;
    font-size: 10px;
    
}

.sidebar-icon-name{
    color: white;
    font-size: 100%;
}