.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;   
    row-gap: 40px;
    padding: 20px;
}

@media (max-width: 800px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (min-width: 1300px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
} 

.thumbnail{
    width: 100%;
    border-radius: 10px;
}


.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr ;
}

.video-title{
    font-size: 14px;
    margin-top: 0;   
    font-weight: 400;
    line-height:20px;
    margin-bottom: 10px;
}

.video-author{
    font-size: 12px;
    color:rgb(189, 189, 189);
    margin-bottom: 4px;
    font-weight: 400;
}

.video-stats{
    font-size: 12px;
    color:rgb(189, 189, 189);
}

.profile-picture{
    width:36px;
    border-radius: 50px ;
}

.video-time{
    background-color: black;
    color:white;
    position: absolute ;
    right:5px;
    bottom:8px;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
}

.notifications-icon-container{
    position: relative;
}

.notifications-count{
    position: absolute;
    top:0px;
    right:-2px;
    font-size: 11px;
    font-family: Roboto, sans-serif;
    background-color: #cc0000;
    border-radius: 50%;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}